In [3]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\yuvanelson\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import pymysql

# Define database connection details
user = 'root'
password = ''
host = 'localhost'
database = 'eda.electronic'

# Connect to the database
connection = pymysql.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = connection.cursor()

# Load and rename columns in each dataset
datasets = {
    'Cleaned_Stores': r'C:\Users\yuvanelson\Music\assignment-2-main\Dataspark.ds\Cleaned_Stores.csv',
    'Cleaned_Products': r'C:\Users\yuvanelson\Music\assignment-2-main\Dataspark.ds\Cleaned_Products.csv',
    'Cleaned_Sales': r'C:\Users\yuvanelson\Music\assignment-2-main\Dataspark.ds\Cleaned_Sales.csv',
    'Cleaned_Exchange_Rates': r'C:\Users\yuvanelson\Music\assignment-2-main\Dataspark.ds\Cleaned_Exchange_Rates.csv',
    'Cleaned_Customers': r'C:\Users\yuvanelson\Music\assignment-2-main\Dataspark.ds\Cleaned_Customers.csv'
}
# Define table creation queries
table_creation_queries = {
    'Cleaned_Stores': """
        CREATE TABLE IF NOT EXISTS Cleaned_Stores (
            StoreKey INT,
            Country VARCHAR(255),
            State VARCHAR(255),
            SquareMeters DECIMAL(10, 2),
            OpenDate DATE
        )
    """,
    'Cleaned_Products': """
        CREATE TABLE IF NOT EXISTS Cleaned_Products (
            ProductKey INT,
            ProductName VARCHAR(255),
            Brand VARCHAR(255),
            Color VARCHAR(255),
            UnitCostUSD DECIMAL(10, 2),
            UnitPriceUSD DECIMAL(10, 2),
            SubcategoryKey INT,
            Subcategory VARCHAR(255),
            CategoryKey INT,
            Category VARCHAR(255)
        )
    """,
    'Cleaned_Sales': """
        CREATE TABLE IF NOT EXISTS Cleaned_Sales (
            OrderNumber INT,
            LineItem INT,
             OrderDate DATE,
            CustomerKey INT,
            StoreKey INT,
            ProductKey INT,
            Quantity INT,
            CurrencyCode VARCHAR(10)
        )
    """,
    'Cleaned_Exchange_Rates': """
        CREATE TABLE IF NOT EXISTS Cleaned_Exchange_Rates (
            Date DATE,
            Currency VARCHAR(255),
            Exchange DECIMAL(10, 4)
        )
    """,
    'Cleaned_Customers': """
        CREATE TABLE IF NOT EXISTS Cleaned_Customers (
            CustomerKey INT,
            Gender VARCHAR(10),
            Name VARCHAR(255),
            City VARCHAR(255),
            StateCode VARCHAR(10),
            State VARCHAR(255),
            ZipCode VARCHAR(20),
            Country VARCHAR(255),
            Continent VARCHAR(255),
            Birthday DATE
        )
    """
}
# Define insert queries
insert_queries = {
    'Cleaned_Stores': """
        INSERT INTO Cleaned_Stores (StoreKey, Country, State, SquareMeters, OpenDate)
        VALUES (%s, %s, %s, %s, %s)
    """,
    'Cleaned_Products': """
        INSERT INTO Cleaned_Products (ProductKey, ProductName, Brand, Color, UnitCostUSD, UnitPriceUSD, SubcategoryKey, Subcategory, CategoryKey, Category)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """,
    'Cleaned_Sales': """
        INSERT INTO Cleaned_Sales (OrderNumber, LineItem, OrderDate, CustomerKey, StoreKey, ProductKey, Quantity, CurrencyCode)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """,
    'Cleaned_Exchange_Rates': """
        INSERT INTO Cleaned_Exchange_Rates (Date, Currency, Exchange)
        VALUES (%s, %s, %s)
    """,
    'Cleaned_Customers': """
        INSERT INTO Cleaned_Customers (CustomerKey, Gender, Name, City, StateCode, State, ZipCode, Country, Continent, Birthday)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
}

# Insert data into the database
for table_name, file_path in datasets.items():
    print(f"Inserting data into table {table_name}:")
    
    # Load and rename columns if needed
    df = pd.read_csv(file_path)
  # Clean up column names if needed (e.g., removing spaces)
    df.columns = df.columns.str.strip().str.replace(' ', '_')
    
    # Create table
    cursor.execute(table_creation_queries[table_name])
    
    # Insert data
    insert_query = insert_queries[table_name]
    for _, row in df.iterrows():
        try:
            cursor.execute(insert_query, tuple(row))
        except pymysql.MySQLError as e:
            print(f"Error inserting data: {e}")
            print(f"Query: {insert_query}")
            print(f"Values: {tuple(row)}")

# Commit the transaction and close the connection
connection.commit()
cursor.close()
connection.close()

print("All datasets have been successfully inserted into the database.")

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")